<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>진료 예약 목록</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>진료 예약 목록</h1>
<table>
    <thead>
    <tr>
        <th>예약 ID</th>
        <th>의사 ID</th>
        <th>환자 ID</th>
        <th>예약 시간</th>
        <th>취소</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservations}">
        <td th:text="${reservation.id}"></td>
        <td th:text="${reservation.doctor.id}"></td>
        <td th:text="${reservation.patient.id}"></td>
        <td th:text="${#temporals.format(reservation.reservationStartTime, 'yyyy-MM-dd HH:mm')}"></td>        <td>
            <form th:action="@{/reservations/delete/{id}(id=${reservation.id})}" method="post">
                <label for="cancelReason">취소 사유:</label>
                <input type="text" id="cancelReason" name="cancelReason" required>
                <button type="submit">취소</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>
<a href="/reservations/new">새 예약 추가</a>

</body>
</html>
